body {
	font-family: 'Manjari', sans-serif;
	background-color:#9CDEDC;
	color: black;
	margin-top: 5em;
  margin-right: 15em;
  margin-left: 15em;
}

nav {
	display:block;
	font-size: 2em;
	color: lightgray;
	text-decoration: none;
  text-align:center;
}

a {
  color: indigo;
  text-decoration:none;
}

nav a {
	text-decoration: none;
	color: lightgray;
	padding: 8px;
	padding-top: 14px;
	border: 2px solid orange;
	margin-bottom: 15em;
}

main {
  margin-top:5em;
  text-align:center;
}

img {
  width: 50%;
}
