body {
	font-family: 'Odibee Sans', cursive; 
	background-color:Orange;
	color: black;
	margin-top: 5em;
  margin-right: 15em;
  margin-left: 15em;
  text-align:center;
    
}

nav a {
	font-size: 2em;	
	text-decoration: none;
  text-align: right;
  color: seagreen !important;
  padding: 14px 8px 6.5px 8px;
	border: 5px solid orange;
	border-radius: 5px;
}


a {
  color: indigo;
  text-decoration:none;
}

h1 {
  text-align: center;
}
h2 {
  text-align:center;
}
p {
  font-size: 2em;
  text-align: left !important;
}


main {
  margin-top:5em; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
  padding: 1em;
}
