body {
	font-family: 'Manjari', sans-serif;
	background-color:darkgreen;
	color: white;
	margin-top: 5em;
  margin-right: 15em;
  margin-left: 15em;
}

#navigation {
	display:block;
	font-size: 2em;
	color: lightgray;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: lightgray;
	padding: 8px;
	padding-top: 14px;
	border: 2px solid orange;
	margin-bottom: 15em;
}

main {
  margin-top:5em;
}
